{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/coloringpage.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="css/coloringpageprint.css" type="text/css" media="print" />
{% endblock %}

{% block navbar %}
    <br>
{% endblock %}
{% block body %}

<h1>hallo!</h1>
    <a href="javascript:window.print()">
        <img src="../../images/{{ asset('images/starting-page/onlinebuch.png') }}" height="100" alt="print this page" id="print-button" /></a>
    <img src="../../{{ asset('images/starting-page/onlinebuch.png') }}" alt="Coloring Page 1" width="100" height="100" />
{% endblock %}
{% block footer %}
    <br>
{% endblock %}
{% block javascripts %}

    {{ encore_entry_script_tags('app') }}
{% endblock %}

