{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ encore_entry_link_tags('kontakt') }}
   {% endblock %}

{% block body %}<div id="wrapper">
    <div id="wrapper">
        <div id="container">
            <main id="main">
                <div class="inside">
                    <div class="mod_article block" id="article-51">


                        <div class="content">
                            <div class="picture">
                                <img src="assets/images/8/mohnnudeln%20kopie-31d673ec.jpg" width="500"  alt="" itemprop="image">
                            </div>
                            <div class="social-media">
                                <div class="obere-box">
                                    <h1 class="orange">SOCIAL MEDIA</h1>
                                </div>
                                <p>Siehe dir weitere Inhalte auf unseren Social Media Accounts an.</p>
                                <div class="infos">
                                    <div class="info-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        projektcookbook.htl3r
                                    </div>
                                    <div class="info-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        projektcookbook.htl3r
                                    </div>
                                    <div class="info-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        projektcookbook.htl3r
                                    </div>
                                    <div class="info-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        projektcookbook.htl3r
                                    </div>
                                </div>
                                <hr>
                                <div class="funktionen">
                                    <div class="funktion-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        FACEBOOK
                                    </div>
                                    <div class="funktion-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        INSTAGRAM
                                    </div>
                                    <div class="funktion-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        TIK TOK
                                    </div>
                                    <div class="funktion-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        YOUTUBE
                                    </div>
                                </div>
                            </div>
                            <div class="kontaktdaten">
                                <div class="obere-box-2">
                                    <h1 class="orange-2">KONTAKTDATEN</h1>
                                </div>
                                <p>Du kannst uns auch wie folgt kontaktieren.</p>
                                <div class="infos">
                                    <div class="info-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        projektcookbook.htl3r
                                    </div>
                                    <div class="info-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        projektcookbook.htl3r
                                    </div>
                                    <div class="info-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        projektcookbook.htl3r
                                    </div>
                                    <div class="info-1">
                                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt="" itemprop="image">
                                        projektcookbook.htl3r
                                    </div>
                                </div>
                            </div>
                            <div class="impressum">
                                <h1>Impressum.</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>(function(){var burger=document.querySelector(".burger-container"),header=document.querySelector(".header");burger.onclick=function(){header.classList.toggle("menu-opened")}})()</script>
    {{ encore_entry_script_tags('kontakt') }}
{% endblock %}
