body {
    background-color: white;
    font-family: Roboto;

}


@media (max-width: 950px) {


    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        color: white;
        font-family: Roboto;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 0;
    }


    .hero-text h3 {
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 25px;
        color: white;
        font-weight: 300;
        margin: 10px 0 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .onlinebuch {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .onlinebuch h1 {
        font-family: leorio;
        font-size: 35px;
        text-align: center;
    }


    .recipes {
        margin: auto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }

    .teaser-image {
        width: 300px;
        height: 250px;
        margin: 10px 50px 10px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }



    .teaser-image:after {
        position: absolute;
        margin-top: -24.3vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -11vh 65px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 33px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }

    .recipe-teaser .text h5 {

        color: white;
        font-size: 13px;
        font-family: Roboto;
        margin: 0;
        text-transform: uppercase;
    }


    .weitere-rezepte {
        text-align: center;
        margin: auto;
        font-size: 25px;
        font-family: leorio;
        padding: 10px;
        font-weight: bold;
        border: 2px solid black;
        color: black;
        transition-duration: 0.4s;
    }



    .search {
        background-image: url(../../public/images/starting-page/account.jpg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        object-fit: cover;
        height: 90vh;
        width: 100%;
        position: absolute;
        top: 285vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .search h1 {
        color: white;
        font-family: Roboto;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 40px;
        margin: -15vh 0 -20vh;
    }

    .search-bar {
        padding: 15px;
        width: 70vw;
    }


    .search-button {
        padding: 15px;
    }


    .social-media{
        width: 95%;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        top: 385vh;
    }

    .social-media h1 {
        font-family: leorio;
        font-size: 40px;
        text-align: center;
        margin-bottom: 0;
    }

    .social-media h3 {
        font-family: leorio;
        font-size: 25px;
        margin-top: 10px;
        text-align: center;
    }

    .social-media-infos {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

    }

    .social-media-infos figure{
        text-align: center;
        margin-top: 10vh;
    }


    .social-media-infos figure figcaption {
        margin-top: 2vh;
        font-family: leorio;
        font-weight: bold;
        font-size: 25px;
    }


    .social-media-infos a{
        color: black;
    }


    .account{
        background-image: url(../../public/images/starting-page/social-media.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        object-fit: cover;
        height: 90vh;
        width: 100%;
        position: absolute;
        top: 565vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .account h1{
        color: white;
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
    }

    .account h3{
        color: white;
        font-size: 25px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
    }



    .team {
        position: absolute;
        top: 665vh;
        left: 50%;
        transform: translate(-50%);
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .team h1 {
        font-family: leorio;
        font-size: 35px;
        text-align: center;
        margin: 0;
    }


    .team-members {
        margin: 5vh auto auto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .member-teaser {
        margin: 3vh 0px 3vh;
    }

    .member-teaser img {
        object-fit: cover;
    }

    .member-image {
        overflow: hidden;
        width: 300px;
        height: 250px;
        margin: 10px 30px 10px;
    }

    .member-image img {
        transition: transform .5s ease;
        height: 100%;
        width: 100%;
    }



    .member-image:after {
        position: absolute;
        margin-top: -24.3vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
    }

    .member-teaser .text {
        position: absolute;
        margin: -9.5vh 45px 0px;
    }

    .member-teaser .text h3 {
        color: white;
        font-size: 26px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }

    .member-teaser .text h5 {

        color: white;
        font-size: 13px;
        font-family: Roboto;
        margin: 0;
        text-transform: uppercase;
    }


    a {
        text-decoration: none;
    }

    footer{
        height: 10vh;
        position: absolute;
        top: 850vh;
    }

}

@media (min-width: 950px) {

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 90vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 90vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        color: white;
        font-family: Roboto;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 105px;
        margin-bottom: 0;
    }


    .hero-text h3 {
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 45px;
        color: white;
        font-weight: 100;
        margin: 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .onlinebuch {
        position: absolute;
        top: 105vh;
        left: 50%;
        transform: translate(-50%);
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .onlinebuch h1 {
        font-family: leorio;
        font-size: 60px;
        text-align: center;
    }


    .recipes {
        margin: auto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }

    .teaser-image {
        overflow: hidden;
        width: 300px;
        height: 250px;

        margin: 10px 50px 10px;
    }

    .teaser-image img {
        transition: transform .5s ease;
        height: 100%;
        width: 100%;
    }

    .teaser-image img:hover {
        transform: scale(1.05);
    }

    .teaser-image:after {
        position: absolute;
        top: 46.5%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
    }

    .recipe-teaser .text {
        color: red;
        position: absolute;
        top: 63%;

        margin: 0px 65px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 33px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }

    .recipe-teaser .text h5 {

        color: white;
        font-size: 13px;
        font-family: Roboto;
        margin: 0;
        text-transform: uppercase;
    }


    .weitere-rezepte {
        text-align: center;
        margin: auto;
        font-size: 25px;
        font-family: leorio;
        padding: 10px;
        font-weight: bold;
        border: 2px solid black;
        color: black;
        transition-duration: 0.4s;
    }

    .weitere-rezepte:hover {
        background-color: black;
        color: white;
    }


    .search {
        background-image: url(../../public/images/starting-page/account.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        object-fit: cover;
        height: 60vh;
        width: 100%;
        position: absolute;
        top: 215vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .search h1 {
        z-index: 10;
        color: white;
        font-family: Roboto;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 80px;
        margin: 0;
    }

    .search-bar {
        z-index: 15;
        padding: 15px;
        width: 25vw;
    }

    .search-button {
        z-index: 160;
        padding: 15px;
    }


    .social-media{
        width: 95%;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        top: 300vh;
    }

    .social-media h1 {
        font-family: leorio;
        font-size: 60px;
        text-align: center;
        margin-bottom: 0;
    }

    .social-media h3 {
        font-family: leorio;
        font-size: 35px;
        margin-top: 10px;
        text-align: center;
    }
    .social-media-infos {
        margin: auto;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding-top: 5vh;

    }

    .social-media-infos figure{
        text-align: center;

        transition: transform .5s ease;
    }

    .social-media-infos figure:hover{
        transform: scale(1.1);
    }

    .social-media-infos figure figcaption {
        margin-top: 2vh;
        font-family: leorio;
        font-weight: bold;
        font-size: 25px;
    }


    .social-media-infos a{
        color: black;
    }


    .account{
        background-color: black;
        background-image: url(../../public/images/starting-page/social-media.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        object-fit: cover;
        height: 50vh;
        width: 100%;
        position: absolute;
        top: 385vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .account h1{
        color: white;
        font-size: 80px;
        font-weight: 100;
        text-transform: uppercase;
        margin: 0;
    }

    .account h3{
        color: white;
        font-size: 60px;
        font-weight: 100;
        text-transform: uppercase;
        margin: 0;
    }



    .team {
        position: absolute;
        top: 465vh;
        left: 50%;
        transform: translate(-50%);
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .team h1 {
        font-family: leorio;
        font-size: 60px;
        text-align: center;
        margin: 0;
    }


    .team-members {
        margin: auto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .member-teaser {
        margin: 3vh 0px 3vh;
    }

    .member-teaser img {
        object-fit: cover;
    }

    .member-image {
        overflow: hidden;
        width: 300px;
        height: 250px;
        margin: 10px 30px 10px;
    }

    .member-image img {
        transition: transform .5s ease;
        height: 100%;
        width: 100%;
    }

    .member-image img:hover {
        transform: scale(1.05);
    }

    .member-image:after {
        position: absolute;
        top: 57%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 120px;
        display: block;
    }

    .member-teaser .text {
        color: red;
        position: absolute;
        top: 68%;
        margin: 0px 40px 0px;
    }

    .member-teaser .text h3 {
        color: white;
        font-size: 25px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }

    .member-teaser .text h5 {

        color: white;
        font-size: 13px;
        font-family: Roboto;
        margin: 0;
        text-transform: uppercase;
    }


    a {
        text-decoration: none;
    }

    footer{
        height: 10vh;
        position: absolute;
     top: 560vh;
    }


}


