body {
    background-color: #F8F8F8;
    font-family: Roboto;
}

@media (max-width: 600px) {


    .picture {
        text-align: center;
        margin: auto;
        height: 50vh;
        background-color: white;
    }

    .picture img {
        width: 100vw;
        height: 50vh;
        object-fit: cover;
    }

    .picture:after {
        position: relative;
        height: 37vh;
        top: -41vh;
        margin: auto;
        border: 3px solid white;
        content: '';
        display: block;
        width: 90vw;
    }

    .hero-content {
        text-align: center;
        position: relative;
        top: -5vh;

    }
    .white {
        color: white;
        font-size: 50px;
    }

    .mini-head {
        background-color: #E6942E;
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-align: center;
        margin: auto;
        z-index: 10;
    }

    .whitebox {
        height: 24vh;
        background-color: white;
        color: #E6942E;
        text-align: center;
        margin: auto;
        z-index: -10;
        margin-top: -10px;
        padding-top: 10px;
    }

    .orange {
        font-family: leorio;
        font-size: 30px;
        color: #E6942E;
        margin: 20px;
        margin-bottom: 20px;

    }

    .mini-button {
        border: 3px solid #E6942E;
        padding: 10px;
        display: inline;
    }

    a .mini-button {
        color: #E6942E;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .dropdown-1{
        visibility: hidden;
    }

    .dropdown-1:nth-of-type(1){
        visibility: visible;
        background-color: #DAF2E9;
        border: 2px solid #378166;
        color: #378166;
        font-weight: bold;
        margin-bottom: 15px;
        height: 50px;
        position: relative;
        left: 25%;
        top: -7vh;
    }

    .inhaltsblock{
        background-color: white;
        width: 95%;
        height: 530px;
        margin: 20px;
        margin-bottom: 40px;
    }

    .teaserbild img{
        width: 100%;
    }

    .text h4{
        margin: 0;
        color: #E6942E;
        font-weight: bold;
        margin-left: 20px;
    }
    .text h1{
        font-family: leorio;
        font-size: 40px;
        margin: 0;
        margin-bottom: 20px;
        margin-left: 20px;

    }

    .infos img{
        height: 20px;
        vertical-align: bottom;
    }
    .infos{
        padding-bottom: 10px;
        margin-left: 20px;
    }

    .info-1{
        margin-bottom: 5px;
    }

    hr{
        width: 80%;
    }

    .funktionen{
        display: flex;
        font-size: 10px;
        padding-top: 10px;
        margin-left: 20px;

    }

    .funktionen img{
        height: 25px;
    }

    .ergebnisse{
        position: relative;
        top:-10vh;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }


}

@media (min-width: 600px) {

    .picture {
        text-align: center;
        margin: auto;
        height: 100vh;
        background-color: white
    }

    .picture img {
        width: 95vw;
        height: 90vh;
        object-fit: cover;
    }

    .picture:after {
        position: relative;
        height: 70vh;
        top: -78vh;
        margin: auto;
        border: 5px solid white;
        content: '';
        display: block;
        width: 87.5vw;
    }

    .hero-content {
        width: 80vw;
        text-align: center;
        position: relative;
        top: -10vh;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .white {
        color: white;
        font-size: 50px;
    }

    .mini-head {
        background-color: #E6942E;
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-align: center;
        margin: auto;
        z-index: 10;
    }

    .whitebox {
        height: 25vh;
        width: 70%;
        background-color: white;
        color: #E6942E;
        text-align: center;
        margin: auto;
        z-index: -10;
        margin-top: -10px;
        padding-top: 10px;
    }

    .orange {
        font-family: leorio;
        font-size: 40px;
        color: #E6942E;
        margin: 20px;
        margin-bottom: 40px;

    }

    .mini-button {
        border: 3px solid #E6942E;
        padding: 10px;
        display: inline;
    }

    a .mini-button {
        color: #E6942E;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .green-background{
        background-color: #DAF2E9;
        border: 2px solid #378166;
        height: 17vh;
        position: relative;
        top:-30vh;
        z-index: -10;
        display: flex;
        justify-content: space-around;
    }

    .dropdown-1{
        margin-top: 8vh;
        background-color: #DAF2E9;
        border: 2px solid #378166;
        color: #378166;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .inhaltsblock{
        background-color: white;
        width: 350px;
        height: 530px;
        margin: 40px;
    }

    .teaserbild img{
        width: 350px;
    }

    .text h4{
        margin: 0;
        color: #E6942E;
        font-weight: bold;
        margin-left: 20px;
    }
    .text h1{
        font-family: leorio;
        font-size: 40px;
        margin: 0;
        margin-bottom: 20px;
        margin-left: 20px;

    }

    .infos img{
        height: 20px;
        vertical-align: bottom;
    }
    .infos{
        padding-bottom: 10px;
        margin-left: 20px;
    }

    .info-1{
        margin-bottom: 5px;
    }

    hr{
        width: 80%;
    }

    .funktionen{
        display: flex;
        font-size: 10px;
        padding-top: 10px;
        margin-left: 20px;

    }

    .funktionen img{
        height: 25px;
    }

    .ergebnisse{
        position: relative;
        top:-10vh;
        left: 10%;
        display: flex;
        width: 80%;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }

}


