body {
    background-color: #F8F8F8;
    font-family: Roboto;

}


@media (max-width: 950px) {

    .blank {
        height: 15px;
    }

    .header .logo {
        text-transform: uppercase;
        text-align: center;
        color: white;
        line-height: 50px;
        width: 250px;
        height: 50px;
        font-size: 20px;
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
    }

    .header .account-right {
        margin-top: 10px;
        text-align: center;
        width: 250px;
        height: 50px;
        position: absolute;
        display: inline-block;
        left: 90%;
        top: 0;
        transform: translateX(-50%);
    }

    .body {
        width: 100%;
        height: 100vh;
    }

    .headline a {
        text-decoration: none;
        text-transform: uppercase;
    }

    .header {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: white;
        overflow: hidden;
        transition: all 0.5s ease-out, background 1s ease-out;
        transition-delay: 0.2s;
        z-index: 1;
    }

    .header .burger-container {
        position: relative;
        display: inline-block;
        height: 50px;
        width: 60px;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .header .burger-container #burger {
        width: 25px;
        height: 8px;
        position: relative;
        display: block;
        margin: -4px auto 0;
        top: 50%;
    }

    .header .burger-container #burger .bar {
        width: 100%;
        height: 1.5px;
        display: block;
        position: relative;
        background: black;
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0s;
    }

    .header .burger-container #burger .bar.topBar {
        transform: translateY(0px) rotate(0deg);
    }

    .header .burger-container #burger .bar.btmBar {
        transform: translateY(6px) rotate(0deg);
    }

    .header ul.menu {
        border-top: 1px solid white;
        margin-top: -4px;
        position: relative;
        display: block;
        padding: 4px 48px 0;
        list-style: none;
    }

    .header ul.menu li.menu-item {
        text-transform: uppercase;
        border-bottom: 2px solid #444;
        margin-top: 6px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .header ul.menu li.menu-item:nth-child(1) {
        transition-delay: 0.49s;
    }

    .header ul.menu li.menu-item:nth-child(2) {
        transition-delay: 0.42s;
    }

    .header ul.menu li.menu-item:nth-child(3) {
        transition-delay: 0.35s;
    }

    .header ul.menu li.menu-item:nth-child(4) {
        transition-delay: 0.28s;
    }

    .header ul.menu li.menu-item:nth-child(5) {
        transition-delay: 0.21s;
    }

    .header ul.menu li.menu-item:nth-child(6) {
        transition-delay: 0.14s;
    }

    ul.menu li.menu-item a {
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 20px;
        line-height: 2.35;
        width: 100%;
        text-align: center;
        margin-left: auto;
    }

    .header.menu-opened {
        height: 100%;
        background-color: white;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
    }

    .header.menu-opened .burger-container {
        transform: rotate(90deg);
    }

    .header.menu-opened .burger-container #burger .bar {
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.2s;
    }

    .header.menu-opened .burger-container #burger .bar.topBar {
        transform: translateY(4px) rotate(45deg);
    }

    .header.menu-opened .burger-container #burger .bar.btmBar {
        transform: translateY(3px) rotate(-45deg);
    }

    .header.menu-opened ul.menu li.menu-item {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }

    .header.menu-opened ul.menu li.menu-item:nth-child(1) {
        transition-delay: 0.27s;
    }

    .header.menu-opened ul.menu li.menu-item:nth-child(2) {
        transition-delay: 0.34s;
    }

    .header.menu-opened ul.menu li.menu-item:nth-child(3) {
        transition-delay: 0.41s;
    }

    .header.menu-opened ul.menu li.menu-item:nth-child(4) {
        transition-delay: 0.48s;
    }

    .header.menu-opened ul.menu li.menu-item:nth-child(5) {
        transition-delay: 0.55s;
    }

    .header.menu-opened ul.menu li.menu-item:nth-child(6) {
        transition-delay: 0.62s;
    }

    .logo a {
        color: black;
    }

    .menu-item a {
        color: black;
    }

    .picture {
        text-align: center;
        margin: auto;
        height: 50vh;
        background-color: white;
    }

    .picture img {
        width: 100vw;
        height: 50vh;
        object-fit: cover;
    }

    .picture:after {
        position: relative;
        height: 37vh;
        top: -41vh;
        margin: auto;
        border: 3px solid white;
        content: '';
        display: block;
        width: 90vw;
    }


    .hero-content {
        background-color: white;
    }

    .obere-box {
        border: 2px solid #E6942E;
        width: 80%;
        height: 13vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        position: relative;
        top: -7vh;
        background-color: white;
    }

    .orange {
        font-family: leorio;
        font-size: 45px;
        color: #E6942E;
        margin: 0;
        margin-top: 10px;
    }

    .obere-box h4 {
        color: #E6942E;
        margin: 0;
    }

    .infos {
        text-align: left;
        padding: 10px;
        margin-top: -5vh;
        padding-left: 35px;
        padding-bottom: 20px;
        font-size: 18px;
    }

    .infos img{
        height: 20px;
    }

    hr{
        width: 80%;
    }


    .funktionen {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        padding-bottom: 25px;
    }

    .funktion-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        font-size: 12px;
    }

    .funktion-1 img{
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .switch{
        background-color: white;
        width: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15vh;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .switch img{
        padding-left: 10px;
        padding-right:10px;
    }


    a {
        text-decoration: none;
    }

    .rezept{
        background-color: white;
        text-align: center;
        margin: auto;
    }

    .obere-box-links {
        border: 2px solid #E6942E;
        width: 300px;
        height: 13vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        position: relative;
        top: -7vh;
        background-color: white;
    }


    .obere-box-links h4 {
        color: #E6942E;
        margin: 0;
    }

    .leer{
        width: 100%;
        height: 15vh;
        background-color: #F8F8F8;
        border: black 1px solid;
    }


    .obere-box-rechts{
        border: 2px solid #E6942E;
        width: 350px;
        height: 13vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        position: relative;
        top: -7vh;

        background-color: white;
    }


    .obere-box-rechts h4 {
        color: #E6942E;
        margin: 0;
    }

    .black{
        font-family: leorio;
        font-size: 30px;
        margin-top: 50px;
        text-align: left;
    }

    .zutaten-tabellen{
        padding-left: 40px;
        margin-top: -50px;
        margin-bottom: 40px;
    }

    table{
        padding-left: 40px;
        margin-top: -10px;
        font-size: 20px;
    }
    td{
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .zubereitung-box{
        padding-left: 40px;
        margin-top: -50px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        width: 80%;
        font-size: 20px;
        text-align: justify;
    }

    .impressum {
        margin-top: 10vh;
        background-color: white;
        height: 30vh;
    }


}

@media (min-width: 950px) {

    .header {
        position: fixed;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid white;
        background-color: white;
        display: flex;
        flex-direction: row;
        z-index: 100;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .header li {
        margin-right: 30px;
        padding-top: 15px;
    }

    .header ul li a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    .logo a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    .logo {
        padding-top: 15px;
        margin-left: 20px;
        text-transform: uppercase;
        color: white;
        width: 500px;
    }

    .account-right {
        margin-top: 10px;
        margin-right: 10px;
    }

    .picture {
        text-align: center;
        margin: auto;
        height: 100vh;
        background-color: white
    }

    .picture img {
        width: 95vw;
        height: 90vh;
        object-fit: cover;
    }

    .picture:after {
        position: relative;
        height: 70vh;
        top: -78vh;
        margin: auto;
        border: 5px solid white;
        content: '';
        display: block;
        width: 87.5vw;
    }

    .hero-content {
        width: 45vw;
        text-align: center;
        position: relative;
        left: 50%;
        top: -3%;
        transform: translate(-50%, -50%);
        background-color: white;
    }

    .obere-box {
        border: 2px solid #E6942E;
        width: 300px;
        height: 15vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        position: relative;
        top: -5vh;
        background-color: white;
    }

    .orange {
        font-family: leorio;
        font-size: 50px;
        color: #E6942E;
        margin: 0;
        margin-top: 10px;
    }

    .obere-box h4 {
        color: #E6942E;
        margin: 0;
    }

    .infos {
        width: 50%;
        text-align: left;
        padding: 10px;
        margin-top: -5vh;
        padding-left: 70px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    hr{
        width: 80%;
    }
    .info-1 {

    }

    .funktionen {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        padding-bottom: 20px;
    }

    .funktion-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .funktion-1 img{
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .switch{
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
    }

    .switch img{
        padding-left: 10px;
        padding-right:10px;
    }


    a {
        text-decoration: none;
    }

   .rezept{
       background-color: white;
       display: flex;
       justify-content: space-around;
   }

    .obere-box-links {
        border: 2px solid #E6942E;
        width: 300px;
        height: 15vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        position: relative;
        top: -5vh;
        background-color: white;
    }


    .obere-box-links h4 {
        color: #E6942E;
        margin: 0;
    }


    .obere-box-rechts {
        border: 2px solid #E6942E;
        width: 350px;
        height: 15vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        position: relative;
        top: -5vh;
        background-color: white;
    }


    .obere-box-rechts h4 {
        color: #E6942E;
        margin: 0;
    }

    .zubereitung{
        width: 60%;
    }

    .zutaten{
        width: 30%;
    }

    .black{
        font-family: leorio;
        font-size: 30px;
        margin-top: 50px;
    }

    .zutaten-tabellen{
        padding-left: 40px;
        margin-top: -50px;
        margin-bottom: 40px;
    }

    table{
        padding-left: 40px;
        margin-top: -10px;
        font-size: 20px;
    }
    td{
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .zubereitung-box{
        padding-left: 40px;
        margin-top: -50px;
        margin-bottom: 40px;
        width: 90%;
        font-size: 20px;
    }

.leer{
    border-left: 2px darkgrey solid;
margin-top: 40px;
    margin-bottom: 40px;
}

    .impressum {
     margin-top: 10vh;
        background-color: white;
        height: 30vh;
    }



}


