body {
    background-color: white;
    font-family: "coolvetica condensed";

}


@media (max-width: 950px) {


    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }

    .hero-image:after {
        background-color: black;
        opacity: 60%;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;

    }

    .hero-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        font-size: 60px;
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    .hero-text h3 {
        text-transform: uppercase;
        font-size: 30px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.5px;
        margin: 10px 0 0;
    }

    .hero-buttons {
        margin-top: 5vh;
        font-family: leorio;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;

    }


    .hero-buttons a {
        color: black;
        background-color: white;
        text-decoration: none;
        border: 2px solid white;
        padding: 10px;
        transition-duration: 0.4s;
    }


    .recipe-info {
        position: absolute;
        top: 110vh;
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .recipe-info h1 {
        color: black;
        font-family: leorio;
        font-size: 33px;
        text-transform: lowercase;
        text-align: center;
        margin-bottom: 0;
    }


    .recipe-infos {
        margin: auto;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 5vh;

    }


    .recipe-infos figure {
        text-align: center;
       margin: 3vh 0 3vh 0;
        width: 100%;
    }


    .recipe-infos figure figcaption {
        margin-top: 2vh;
        font-family: leorio;
        font-weight: bold;
        font-size: 20px;
    }


    hr {
        background-color: black;
        height: 1px;
        width: 70%;
        text-align: center;
        margin: auto;
    }

    .functions {
        margin: auto;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .functions figure {
        margin: 5vh 5vh 2vh;
        font-family: leorio;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        transition: transform .5s ease;
        text-align: center;
    }

    .functions figure:hover {
        transform: scale(1.1);
    }

    .functions figure figcaption {
        margin-top: 1vh;
    }

    .functions a {
        color: black;
        text-decoration: none;
    }


    .motivation {
        height: 90vh;
        width: 100%;
        position: absolute;
        top: 245vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .motivation-picture {
        height: 90vh;
        width: 100%;
    }

    .motivation-picture:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        background-color: black;
        opacity: 60%;
        height: 90vh;
        width: 100%;
    }

    .motivation img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .motivation h1 {
        position: absolute;
        width: 90%;
        top: 40%;
        transform: translate(-50%);
        left: 50%;
        color: white;
        font-size: 50px;

        letter-spacing: 3px;
        font-weight: 200;
        text-transform: uppercase;
        margin: 0;
    }


    .recipe {
        position: absolute;
        top: 340vh;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
    }


    .ingridients {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Roboto;
        justify-content: center;
    }

    .ingridients h1 {
        margin-bottom: 2vh;
        color: black;
        font-family: leorio;
        font-size: 50px;
        text-transform: lowercase;

    }

    .ingridient-table h2 {
        color: black;
        font-family: leorio;
        font-size: 30px;
        text-transform: lowercase;
    }

    .ingridient {
        text-transform: capitalize;
    }


    table {
        font-size: 20px;
        margin: auto;
        width: 90vw;
        text-align: center;
    }

    tr, td {
        border: 1px solid black;
    }

    td {
        text-align: left;
        padding-bottom: 20px;
    }


    .cooking {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .cooking-box{
        width: 90%;
        font-family: Roboto;
        font-size: 20px;
    }


    .cooking h1 {
        margin-bottom: 2vh;
        color: black;
        font-family: leorio;
        font-size: 50px;
        text-transform: lowercase;
    }

    .cooking-box h2{
        color: black;
        font-family: leorio;
        font-size: 30px;
        text-transform: lowercase;
    }
    .cooking-box p{
        width: 95%;
    }



    a {
        text-decoration: none;
    }

    footer{
        height: 10vh;
    }


}

@media (min-width: 950px) {


    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 90vh;
        width: 100%;
    }

    .hero-image:after {
        background-color: black;
        opacity: 60%;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 90vh;
        width: 100%;

    }

    .hero-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 90vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        font-size: 105px;
        margin-bottom: 0;
    }


    .hero-text h3 {
        font-family: "coolvetica condensed";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 45px;
        color: white;
        font-weight: 100;
        margin: 0 0 -20vh;
    }

    .hero-buttons {
        margin-top: 5vh;
        font-family: leorio;
        font-weight: bold;
        font-size: 25px;
        text-transform: uppercase;

    }


    .hero-buttons a {
        color: black;
        background-color: white;
        text-decoration: none;
        border: 2px solid white;
        padding: 10px;
        transition-duration: 0.4s;
    }

    .hero-buttons a:hover {
        background-color: black;
        color: white;
    }


    .recipe-info {
        position: absolute;
        top: 105vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .recipe-info h1 {
        color: black;
        font-family: leorio;
        font-size: 60px;
        text-transform: lowercase;
        text-align: center;
        margin-bottom: 0;
    }


    .recipe-infos {
        margin: auto;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding-top: 5vh;

    }


    .recipe-infos figure {
        text-align: center;
        transition: transform .5s ease;
        margin: 6vh 0 5vh;
        width: 15vw;
    }

    .recipe-infos figure:hover {
        transform: scale(1.1);
    }


    .recipe-infos figure figcaption {
        margin-top: 2vh;
        font-family: leorio;
        font-weight: bold;
        font-size: 25px;
    }


    hr {
        background-color: black;
        height: 1px;
        width: 70%;
        text-align: center;
        margin: auto;
    }

    .functions {
        margin: auto;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .functions figure {
        margin: 5vh 5vh 2vh;
        font-family: leorio;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        transition: transform .5s ease;
        text-align: center;
    }

    .functions figure:hover {
        transform: scale(1.1);
    }

    .functions figure figcaption {
        margin-top: 1vh;
    }

    .functions a {
        color: black;
        text-decoration: none;
    }


    .motivation {
        height: 50vh;
        width: 100%;
        position: absolute;
        top: 190vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .motivation-picture {
        height: 50vh;
        width: 100%;
    }

    .motivation-picture:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        background-color: black;
        opacity: 60%;
        height: 50vh;
        width: 100%;
    }

    .motivation img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .motivation h1 {
        position: absolute;
        width: 90%;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        color: white;
        font-size: 80px;
        font-weight: 100;
        font-family: "coolvetica";
        text-transform: uppercase;
        margin: 0;
    }






    .recipe {
        position: absolute;
        top: 250vh;
        width: 95%;
        left: 51%;
        transform: translate(-50%);
    }


    .recipe-1 {
        display: flex;
        justify-content: center;
    }


    .ingridients {
        width: 40%;
        display: flex;
        flex-direction: column;
        font-family: Roboto;
        align-items: center;
    }

    .ingridients h1 {
        margin-bottom: 2vh;
        color: black;
        font-family: leorio;
        font-size: 60px;
        text-transform: lowercase;

    }

    .ingridient-table h2 {
        color: black;
        font-family: leorio;
        font-size: 30px;
        text-transform: lowercase;
    }

    .ingridient {
        text-transform: capitalize;
    }


    table {
        font-size: 20px;
        text-align: center;
    }

    tr, td {
        border: 2px solid black;
    }

    td {
        text-align: left;
        padding-right: 30px;
        padding-bottom: 20px;
    }


    .cooking {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .cooking-box{
        padding-left: 5vw;
        width: 90%;
        font-family: Roboto;
        font-size: 20px;
    }


    .cooking h1 {
        margin-bottom: 2vh;
        color: black;
        font-family: leorio;
        font-size: 60px;
        text-transform: lowercase;
    }

    .cooking-box h2{
        color: black;
        font-family: leorio;
        font-size: 30px;
        text-transform: lowercase;
    }
    .cooking-box p{
        width: 95%;
    }

    .leer {
        width: 1.5px;
        margin-top: 10vh;
        height: 100vh;
        background-color: black;
    }

    a {
        text-decoration: none;
    }

    footer{
        height: 10vh;
    }

}


