body {
    background-color: #F8F8F8;
    font-family: Roboto;
}

@media (max-width: 600px) {


    .picture {
        text-align: center;
        margin: auto;
        height: 50vh;
        background-color: white;
    }

    .picture img {
        width: 100vw;
        height: 50vh;
        object-fit: cover;
    }

    .picture:after {
        position: relative;
        height: 37vh;
        top: -41vh;
        margin: auto;
        border: 3px solid white;
        content: '';
        display: block;
        width: 90vw;
    }

    .hero-content {
        text-align: center;
        position: relative;
        top: -5vh;

    }
    .white {
        color: white;
        font-size: 50px;
    }

    .mini-head {
        background-color: #E6942E;
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-align: center;
        margin: auto;
        z-index: 10;
    }

    .whitebox {
        height: 24vh;
        background-color: white;
        color: #E6942E;
        text-align: center;
        margin: auto;
        z-index: -10;
        margin-top: -10px;
        padding-top: 10px;
    }

    .orange {
        font-family: leorio;
        font-size: 30px;
        color: #E6942E;
        margin: 20px;
        margin-bottom: 20px;

    }

    .mini-button {
        border: 3px solid #E6942E;
        padding: 10px;
        display: inline;
    }

    a .mini-button {
        color: #E6942E;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    .dropdown-1{
        visibility: hidden;
    }

    .dropdown-1:nth-of-type(1){
        visibility: visible;
        background-color: #DAF2E9;
        border: 2px solid #378166;
        color: #378166;
        font-weight: bold;
        margin-bottom: 15px;
        height: 50px;
        position: relative;
        left: 25%;
        top: -7vh;
    }

    .inhaltsblock{
        background-color: white;
        width: 95%;
        height: 530px;
        margin: 20px;
        margin-bottom: 40px;
    }

    .teaserbild img{
        width: 100%;
    }

    .text h4{
        margin: 0;
        color: #E6942E;
        font-weight: bold;
        margin-left: 20px;
    }
    .text h1{
        font-family: leorio;
        font-size: 40px;
        margin: 0;
        margin-bottom: 20px;
        margin-left: 20px;

    }

    .infos img{
        height: 20px;
        vertical-align: bottom;
    }
    .infos{
        padding-bottom: 10px;
        margin-left: 20px;
    }

    .info-1{
        margin-bottom: 5px;
    }

    hr{
        width: 80%;
    }

    .funktionen{
        display: flex;
        font-size: 10px;
        padding-top: 10px;
        margin-left: 20px;

    }

    .funktionen img{
        height: 25px;
    }

    .ergebnisse{
        position: relative;
        top:-10vh;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }


}

@media (min-width: 600px) {


    .picture-1 {
        height: 90vh;
        width: 100%;
    }

    .picture-1 img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .hero-text {
        position: absolute;
        top: 23vh;
        left: 50%;
        width: 90%;
        transform: translate(-50%);
        text-align: center;
    }

    h1 {
        color: white;
        font-family: leorio;
        text-transform: uppercase;
        font-size: 90px;
        font-weight: 300;
        margin-bottom: 0;
    }

    h1.leorio{
        font-weight: bold;
    }


    h3 {
        font-family: leorio;
        text-transform: uppercase;
        font-size: 40px;
        color: white;
        font-weight: 300;
        margin: 0;
    }


    .see-more {
        margin-top: 25vh;
        height: 80px;
    }

    h6 {
        color: white;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.7s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }


    .rezepte {
        background-color: white;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .content-1 {
        padding-top: 10vh;
        margin: auto;
        display: flex;
        width: 80%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .teaser-pic img {
        object-fit: cover;
        margin: 10px 50px 10px;
    }


    a {
        color: white;
        text-decoration: none;
    }

    h3.leorio {
        font-size: 45px;
        text-transform: uppercase;
        color: white;
    }

    h5.leorio {
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: -5px;
        font-weight: normal;
        font-family: Roboto;
    }


    .text {
        background-color: black;
        position: relative;
        width: 74%;
        top: -14vh;
        margin: 10px 50px 10px;
        left: 1vw;
    }

    .leorio {
        font-size: 80px;
        text-align: center;
        color: black;
        font-family: leorio;
        text-transform: uppercase;
    }


    .ergebnisse{
        position: relative;
        margin: auto;
        margin-top: 15vh;
        display: flex;
        width: 95%;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }

}


