body {
    background-color: white;
    font-family: "coolvetica condensed";
}

@media (max-width: 600px) {

    .random {
        border-radius: 50px;
        background-color: #378166;
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 160;
        top: auto;
        bottom: 13px;
        right: 13px;
        left: auto;
    }

    .inside-border {border: 3px solid white;
        border-radius: 50px;
        position: relative;
        width: 35px;
        height: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .random img {
        position: relative;
        left: 50%;
        top: 50%;
        width: 20px;
        transform: translate(-50%, -50%);
        z-index: 160;
    }


    .hero-image {
        position: absolute;
         top: 0;
         left: 0;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        font-size: 55px;
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    .search-bar {
        padding: 15px;
        width: 65vw;
    }


    .search-button {
        padding: 15px;
        background-color: white;
    }

    .suche{
        display: flex;
        justify-content: center;
    }
    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .ergebnisse {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 99vw;
        display: flex;
        flex-direction: column;
        /*  justify-content: center;
          background-color: white;*/
    }



    .ergebnisse h1 {
        font-family: leorio;
        font-size: 34px;
        text-align: center;
        margin: 0;
    }



    .recipes {
        display: flex;
        /* width: 99vw; */
        justify-content: center;
        /* align-content: center; */
        flex-wrap: wrap;
        /* margin: 0;*/
    }


    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }


    .teaser-image {
        /* overflow: hidden;*/
        width: 300px;
        height: 250px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }


    .teaser-image:after {
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
        margin-top: -28vh;
        pointer-events: none;
    }

    @supports (-moz-transform: translate(0, 0)) {
        .teaser-image:after {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            content: '';
            width: 300px;
            height: 175px;
            display: block;
            margin-top: -24.3vh;
            pointer-events: none;
        }
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -10vh 10px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 30px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }




    .recipe-teaser .text h5 {
        color: white;
        font-size: 15px;
        font-family: "coolvetica";
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }



    a {
        text-decoration: none;
    }


    footer {
        height: 10vh;
        z-index: -1;
    }

}
@media (device-width: 411px) and (device-height: 731px){


    nav{
        z-index: 160;
    }
    .show-filter {
        border-radius: 50px;
        background-color: #378166;
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 160;
        top: auto;
        bottom: 13px;
        right: 13px;
        left: auto;
    }


    .inside-border {border: 3px solid white;
        border-radius: 50px;
        position: relative;
        width: 35px;
        height: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .show-filter img {
        position: relative;
        left: 50%;
        top: 50%;
        width: 20px;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .filter {
        display: none;
        position: fixed;
        width: 100%;
        height: 92vh;
        top: 8vh;
        justify-content: center;
        left: 0;
        justify-content: space-around;
        flex-direction: column;
        font-family: "coolvetica condensed";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 100;
        margin: 0;
        align-items: center;
        background-color: white;
        z-index: 150;
    }


    .filter select {
        font-size: 17px;
        padding: 5px;
    }

    .filter button {
        padding: 10px;
        background-color: white;
    }


    .hero-image {
        /* position: absolute;
         top: 0;
         left: 0;*/
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        font-size: 60px;
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    .hero-text h3 {
        text-transform: uppercase;
        font-size: 35px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.5px;
        margin: 10px 0 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .ergebnisse {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 99vw;
        display: flex;
        flex-direction: column;
        /*  justify-content: center;
          background-color: white;*/
    }



    .ergebnisse h1 {
        font-family: leorio;
        font-size: 34px;
        text-align: center;
        margin: 0;
    }



    .recipes {
        display: flex;
        /* width: 99vw; */
        justify-content: center;
        /* align-content: center; */
        flex-wrap: wrap;
        /* margin: 0;*/
    }


    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }


    .teaser-image {
        /* overflow: hidden;*/
        width: 300px;
        height: 250px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }


    .teaser-image:after {
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
        margin-top: -24vh;
        pointer-events: none;
    }

    @supports (-moz-transform: translate(0, 0)) {
        .teaser-image:after {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            content: '';
            width: 300px;
            height: 175px;
            display: block;
            margin-top: -24.3vh;
            pointer-events: none;
        }
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -10vh 10px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 30px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }




    .recipe-teaser .text h5 {
        color: white;
        font-size: 15px;
        font-family: "coolvetica";
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }



    a {
        text-decoration: none;
    }


    footer {
        height: 10vh;
        z-index: -10;
    }

}

@media (device-width: 411px) and (device-height: 823px){


    nav{
        z-index: 160;
    }
    .show-filter {
        border-radius: 50px;
        background-color: #378166;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 90vh;
        left: 84vw;
        z-index: 100;
        z-index: 160;
    }


    .inside-border {border: 3px solid white;
        border-radius: 50px;
        position: relative;
        width: 35px;
        height: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .show-filter img {
        position: relative;
        left: 50%;
        top: 50%;
        width: 20px;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .filter {
        display: none;
        position: fixed;
        width: 100%;
        height: 92vh;
        top: 8vh;
        justify-content: center;
        left: 0;
        justify-content: space-around;
        flex-direction: column;
        font-family: "coolvetica condensed";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 100;
        margin: 0;
        align-items: center;
        background-color: white;
        z-index: 150;
    }


    .filter select {
        font-size: 17px;
        padding: 5px;
    }

    .filter button {
        padding: 10px;
        background-color: white;
    }


    .hero-image {
        /* position: absolute;
         top: 0;
         left: 0;*/
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        font-size: 60px;
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    .hero-text h3 {
        text-transform: uppercase;
        font-size: 35px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.5px;
        margin: 10px 0 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .ergebnisse {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 99vw;
        display: flex;
        flex-direction: column;
        /*  justify-content: center;
          background-color: white;*/
    }



    .ergebnisse h1 {
        font-family: leorio;
        font-size: 34px;
        text-align: center;
        margin: 0;
    }



    .recipes {
        display: flex;
        /* width: 99vw; */
        justify-content: center;
        /* align-content: center; */
        flex-wrap: wrap;
        /* margin: 0;*/
    }


    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }


    .teaser-image {
        /* overflow: hidden;*/
        width: 300px;
        height: 250px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }


    .teaser-image:after {
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
        margin-top: -21.5vh;
        pointer-events: none;
    }

    @supports (-moz-transform: translate(0, 0)) {
        .teaser-image:after {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            content: '';
            width: 300px;
            height: 175px;
            display: block;
            margin-top: -24.3vh;
            pointer-events: none;
        }
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -10vh 10px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 30px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }




    .recipe-teaser .text h5 {
        color: white;
        font-size: 15px;
        font-family: "coolvetica";
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }



    a {
        text-decoration: none;
    }


    footer {
        height: 10vh;
        z-index: -10;
    }

}

@media (device-width: 320px) and (device-height: 568px){

    .logo-container a{
        font-size: 15px;
    }
    nav{
        z-index: 160;
    }
    .show-filter {
        border-radius: 50px;
        background-color: #378166;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 90vh;
        left: 84vw;
        z-index: 100;
        z-index: 160;
    }


    .inside-border {border: 3px solid white;
        border-radius: 50px;
        position: relative;
        width: 35px;
        height: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .show-filter img {
        position: relative;
        left: 50%;
        top: 50%;
        width: 20px;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .filter {
        display: none;
        position: fixed;
        width: 100%;
        height: 92vh;
        top: 8vh;
        justify-content: center;
        left: 0;
        justify-content: space-around;
        flex-direction: column;
        font-family: "coolvetica condensed";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 100;
        margin: 0;
        align-items: center;
        background-color: white;
        z-index: 150;
    }


    .filter select {
        font-size: 17px;
        padding: 5px;
    }

    .filter button {
        padding: 10px;
        background-color: white;
    }


    .hero-image {
        /* position: absolute;
         top: 0;
         left: 0;*/
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        font-size: 55px;
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    .hero-text h3 {
        text-transform: uppercase;
        font-size: 35px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.5px;
        margin: 10px 0 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .ergebnisse {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 99vw;
        display: flex;
        flex-direction: column;
        /*  justify-content: center;
          background-color: white;*/
    }



    .ergebnisse h1 {
        font-family: leorio;
        font-size: 34px;
        text-align: center;
        margin: 0;
    }



    .recipes {
        display: flex;
        /* width: 99vw; */
        justify-content: center;
        /* align-content: center; */
        flex-wrap: wrap;
        /* margin: 0;*/
    }


    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }


    .teaser-image {
        /* overflow: hidden;*/
        width: 300px;
        height: 250px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }


    .teaser-image:after {
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
        margin-top: -31.5vh;
        pointer-events: none;
    }

    @supports (-moz-transform: translate(0, 0)) {
        .teaser-image:after {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            content: '';
            width: 300px;
            height: 175px;
            display: block;
            margin-top: -24.3vh;
            pointer-events: none;
        }
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -10vh 10px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 30px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }




    .recipe-teaser .text h5 {
        color: white;
        font-size: 15px;
        font-family: "coolvetica";
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }



    a {
        text-decoration: none;
    }


    footer {
        height: 10vh;
        z-index: -10;
    }

}

@media (device-width: 375px) and (device-height: 667px){

    .logo-container a{
        font-size: 15px;
    }
    nav{
        z-index: 160;
    }
    .show-filter {
        border-radius: 50px;
        background-color: #378166;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 90vh;
        left: 84vw;
        z-index: 100;
        z-index: 160;
    }


    .inside-border {border: 3px solid white;
        border-radius: 50px;
        position: relative;
        width: 35px;
        height: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .show-filter img {
        position: relative;
        left: 50%;
        top: 50%;
        width: 20px;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .filter {
        display: none;
        position: fixed;
        width: 100%;
        height: 92vh;
        top: 8vh;
        justify-content: center;
        left: 0;
        justify-content: space-around;
        flex-direction: column;
        font-family: "coolvetica condensed";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 100;
        margin: 0;
        align-items: center;
        background-color: white;
        z-index: 150;
    }


    .filter select {
        font-size: 17px;
        padding: 5px;
    }

    .filter button {
        padding: 10px;
        background-color: white;
    }


    .hero-image {
        /* position: absolute;
         top: 0;
         left: 0;*/
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        font-size: 55px;
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    .hero-text h3 {
        text-transform: uppercase;
        font-size: 35px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.5px;
        margin: 10px 0 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .ergebnisse {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 99vw;
        display: flex;
        flex-direction: column;
        /*  justify-content: center;
          background-color: white;*/
    }



    .ergebnisse h1 {
        font-family: leorio;
        font-size: 34px;
        text-align: center;
        margin: 0;
    }



    .recipes {
        display: flex;
        /* width: 99vw; */
        justify-content: center;
        /* align-content: center; */
        flex-wrap: wrap;
        /* margin: 0;*/
    }


    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }


    .teaser-image {
        /* overflow: hidden;*/
        width: 300px;
        height: 250px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }


    .teaser-image:after {
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
        margin-top: -26.5vh;
        pointer-events: none;
    }

    @supports (-moz-transform: translate(0, 0)) {
        .teaser-image:after {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            content: '';
            width: 300px;
            height: 175px;
            display: block;
            margin-top: -24.3vh;
            pointer-events: none;
        }
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -10vh 10px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 30px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }




    .recipe-teaser .text h5 {
        color: white;
        font-size: 15px;
        font-family: "coolvetica";
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }



    a {
        text-decoration: none;
    }


    footer {
        height: 10vh;
        z-index: -10;
    }

}

@media (device-width: 414px) and (device-height: 736px){

    .logo-container a{
        font-size: 15px;
    }
    nav{
        z-index: 160;
    }
    .show-filter {
        border-radius: 50px;
        background-color: #378166;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 90vh;
        left: 84vw;
        z-index: 100;
        z-index: 160;
    }


    .inside-border {border: 3px solid white;
        border-radius: 50px;
        position: relative;
        width: 35px;
        height: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .show-filter img {
        position: relative;
        left: 50%;
        top: 50%;
        width: 20px;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .filter {
        display: none;
        position: fixed;
        width: 100%;
        height: 92vh;
        top: 8vh;
        justify-content: center;
        left: 0;
        justify-content: space-around;
        flex-direction: column;
        font-family: "coolvetica condensed";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 100;
        margin: 0;
        align-items: center;
        background-color: white;
        z-index: 150;
    }


    .filter select {
        font-size: 17px;
        padding: 5px;
    }

    .filter button {
        padding: 10px;
        background-color: white;
    }


    .hero-image {
        /* position: absolute;
         top: 0;
         left: 0;*/
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        font-size: 55px;
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    .hero-text h3 {
        text-transform: uppercase;
        font-size: 35px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.5px;
        margin: 10px 0 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .ergebnisse {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 99vw;
        display: flex;
        flex-direction: column;
        /*  justify-content: center;
          background-color: white;*/
    }



    .ergebnisse h1 {
        font-family: leorio;
        font-size: 34px;
        text-align: center;
        margin: 0;
    }



    .recipes {
        display: flex;
        /* width: 99vw; */
        justify-content: center;
        /* align-content: center; */
        flex-wrap: wrap;
        /* margin: 0;*/
    }


    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }


    .teaser-image {
        /* overflow: hidden;*/
        width: 300px;
        height: 250px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }


    .teaser-image:after {
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
        margin-top: -24vh;
        pointer-events: none;
    }

    @supports (-moz-transform: translate(0, 0)) {
        .teaser-image:after {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            content: '';
            width: 300px;
            height: 175px;
            display: block;
            margin-top: -24.3vh;
            pointer-events: none;
        }
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -10vh 10px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 30px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }




    .recipe-teaser .text h5 {
        color: white;
        font-size: 15px;
        font-family: "coolvetica";
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }



    a {
        text-decoration: none;
    }


    footer {
        height: 10vh;
        z-index: -10;
    }

}

@media (device-width: 375px) and (device-height: 812px){

    .logo-container a{
        font-size: 15px;
    }
    nav{
        z-index: 160;
    }
    .show-filter {
        border-radius: 50px;
        background-color: #378166;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 90vh;
        left: 84vw;
        z-index: 100;
        z-index: 160;
    }


    .inside-border {border: 3px solid white;
        border-radius: 50px;
        position: relative;
        width: 35px;
        height: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .show-filter img {
        position: relative;
        left: 50%;
        top: 50%;
        width: 20px;
        transform: translate(-50%, -50%);
        z-index: 160;
    }

    .filter {
        display: none;
        position: fixed;
        width: 100%;
        height: 92vh;
        top: 8vh;
        justify-content: center;
        left: 0;
        justify-content: space-around;
        flex-direction: column;
        font-family: "coolvetica condensed";
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 100;
        margin: 0;
        align-items: center;
        background-color: white;
        z-index: 150;
    }


    .filter select {
        font-size: 17px;
        padding: 5px;
    }

    .filter button {
        padding: 10px;
        background-color: white;
    }


    .hero-image {
        /* position: absolute;
         top: 0;
         left: 0;*/
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        font-size: 55px;
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    .hero-text h3 {
        text-transform: uppercase;
        font-size: 35px;
        color: white;
        font-weight: 100;
        letter-spacing: 0.5px;
        margin: 10px 0 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .ergebnisse {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 99vw;
        display: flex;
        flex-direction: column;
        /*  justify-content: center;
          background-color: white;*/
    }



    .ergebnisse h1 {
        font-family: leorio;
        font-size: 34px;
        text-align: center;
        margin: 0;
    }



    .recipes {
        display: flex;
        /* width: 99vw; */
        justify-content: center;
        /* align-content: center; */
        flex-wrap: wrap;
        /* margin: 0;*/
    }


    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }


    .teaser-image {
        /* overflow: hidden;*/
        width: 300px;
        height: 250px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }


    .teaser-image:after {
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
        margin-top: -22vh;
        pointer-events: none;
    }

    @supports (-moz-transform: translate(0, 0)) {
        .teaser-image:after {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            content: '';
            width: 300px;
            height: 175px;
            display: block;
            margin-top: -24.3vh;
            pointer-events: none;
        }
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -10vh 10px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 30px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }




    .recipe-teaser .text h5 {
        color: white;
        font-size: 15px;
        font-family: "coolvetica";
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }



    a {
        text-decoration: none;
    }


    footer {
        height: 10vh;
        z-index: -10;
    }

}

@media (min-width: 600px) {

    a {
        text-decoration: none;
    }


    .random {
        transition: transform .1s ease;
        border-radius: 50px;
        background-color: #378166;
        width: 65px;
        height: 65px;
        position: fixed;
        top: 89.5vh;
        left: 94vw;
        z-index: 100;
    }

    .random:hover {
        transform: scale(1.1);
    }

    .inside-border {
        border: 3px solid white;
        border-radius: 50px;
        position: relative;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .random img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 90vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 90vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .search {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .suche{
        display: flex;
        justify-content: center;
    }

    .hero-text h1 {
        color: white;
        font-family: "coolvetica";
        font-weight: 100;
        text-transform: uppercase;
        font-size: 105px;
        margin-bottom: 0;
    }


    .hero-text h3 {
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 45px;
        color: white;
        font-weight: 100;
        margin: 0;
    }

    .search-bar {
        z-index: 15;
        padding: 15px;
        width: 25vw;
    }

    .search-button {
        z-index: 160;
        padding: 15px;
    }


    .see-more {
        height: 80px;
    }

    .see-more h6 {
        color: white;
        font-family: Roboto;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }

    .ergebnisse {
        position: absolute;
        top: 105vh;
        left: 50%;
        transform: translate(-50%);
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
    }

    .ergebnisse h1 {
        font-family: leorio;
        font-size: 60px;
        text-align: center;
        margin: 0;
    }


    .recipes {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-self: center;
        flex-wrap: wrap;
        margin: 0;
    }

    .recipe-teaser {
        margin: 5vh 0 5vh ;
    }

    .recipe-teaser img {
        object-fit: cover;
    }

    .teaser-image::after{
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 25vw;
        margin-top: 22vh;
        pointer-events: none;
        margin-left: -25vw;
        height: 15vh;
    }
    .teaser-image {
        overflow: hidden;
        width: 25vw;
        height: 37vh;
    }

    .teaser-image img {
        transition: transform .5s ease;
        height: 100%;
        width: 100%;
    }

    .teaser-image img:hover {
        transform: scale(1.05);
    }


    .recipe-teaser .text {
        position: absolute;

        margin: -10vh 12px 0;
    }


    .recipe-teaser .text h3 {
        color: white;
        font-size: 30px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }

    .recipe-teaser .text h5 {
        color: white;
        font-size: 15px;
        font-family: "coolvetica";
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;
    }
    footer{
        height: 10vh;
    }


}


