body {
    background-color: #F8F8F8;
    font-family: Roboto;
}

@media (max-width: 600px) {


    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 100vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        color: white;
        font-family: Roboto;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 0;
    }


    .hero-text h3 {
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 25px;
        color: white;
        font-weight: 300;
        margin: 10px 0 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }




    .ergebnisse {
        position: absolute;
        top: 108vh;
        left: 50%;
        transform: translate(-50%);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .ergebnisse h1 {
        font-family: leorio;
        font-size: 35px;
        text-align: center;
    }


    .recipes {
        margin: auto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }

    .teaser-image {
        width: 300px;
        height: 250px;
        margin: 10px 50px 10px;
    }

    .teaser-image img {
        height: 100%;
        width: 100%;
    }



    .teaser-image:after {
        position: absolute;
        margin-top: -24.3vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
    }

    .recipe-teaser .text {
        position: absolute;
        margin: -11vh 65px 0px;
    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 33px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }

    .recipe-teaser .text h5 {

        color: white;
        font-size: 13px;
        font-family: Roboto;
        margin: 0;
        text-transform: uppercase;
    }




}

@media (min-width: 600px) {


    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 90vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        top: 0;
        left: 50%;
        width: 95%;
        height: 90vh;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }


    .hero-text h1 {
        color: white;
        font-family: Roboto;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 105px;
        margin-bottom: 0;
    }


    .hero-text h3 {
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 45px;
        color: white;
        font-weight: 100;
        margin: 0;
    }

    .see-more {
        height: 80px;
    }


    h6 {
        color: white;
        font-size: 11px;
        margin: 0;
    }


    .arrow {
        animation: MoveUpDown 1.8s ease-out infinite;

    }

    @keyframes MoveUpDown {
        0%, 100% {
            margin-top: 0;
        }
        50% {
            margin-top: 40px;
        }
    }



    .ergebnisse {
        position: absolute;
        top: 115vh;
        left: 50%;
        transform: translate(-50%);
        width: 95%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }

    .ergebnisse h1 {
        font-family: leorio;
        font-size: 60px;
        text-align: center;
    }


    .recipes {
        margin: auto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .recipe-teaser {
        margin: 7vh 0px 7vh;
    }

    .recipe-teaser img {
        object-fit: cover;
    }

    .teaser-image {
        overflow: hidden;
        width: 300px;
        height: 250px;
        margin: 10px 50px 10px;
    }

    .teaser-image img {
        transition: transform .5s ease;
        height: 100%;
        width: 100%;
    }

    .teaser-image img:hover {
        transform: scale(1.05);
    }

    .teaser-image:after {
        position: absolute;
        margin: -24.8vh 0 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        content: '';
        width: 300px;
        height: 175px;
        display: block;
    }

    .recipe-teaser .text {
        color: red;
        position: absolute;
        margin: -11vh 65px 0;

    }

    .recipe-teaser .text h3 {
        color: white;
        font-size: 33px;
        font-family: leorio;
        margin: 0;
        text-transform: uppercase;
    }

    .recipe-teaser .text h5 {

        color: white;
        font-size: 13px;
        font-family: Roboto;
        margin: 0;
        text-transform: uppercase;
    }






}


